sudo: required

language: node_js
node_js:
  - '7'

cache:
  directories:
    - node_modules
    - elm-stuff/build-artifacts

install:
  - npm install

script:
  - $(npm bin)/elm-app build

deploy:
  provider: pages
  local_dir: build
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master

notifications:
  email: false
